<div class="sidebar">
  <div class="sidebar-header">Summary</div>
  <div class="sidebar-item"><a href="/">Today's Goals</a></div>
  <div class="sidebar-item"><a href="/weights">Resistance</a></div>
  <div class="sidebar-item"><a href="/cardio">Cardio</a></div>
  <div class="sidebar-item"><a href="/progress">Progress</a></div>
</div>