body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .background {
    margin: 0px 0px 0px 0px;
    width: 100vw;
    height: 100vh;
  }
  
  .subheader {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 92.5rem;
    color: white;
    background-color: cornflowerblue;
    padding: 10px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition-property: text-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
  
  .subheader:hover {
    text-shadow: 2px 2px 6px black;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .content {
    width: 80rem;
    height: 40rem;
    border: 4px solid black;
    overflow: scroll;
  }

  .table {
    margin-bottom: auto;
  }